.slider {
    top: 10vh;
    height: 100%;
    transform: rotate(15deg);
    overflow: visible;
    &__wrapper {
        transition: var(--transition)!important;
        will-change: transform;
    }
    &__item {
        max-height: 75vh;
        overflow: hidden;
        cursor: pointer;
        &_bg {
            max-height: 100vh;
        }
    }
    &__img {
        width: 300%;
        height: 100%;
        background-size: cover;
        position: absolute;
        left: -100%;
        transition: var(--transition)!important;
        will-change: transform;
        img {
            width: 100%;
        }
    }
    &_bg {
        z-index: 0;
        transform: rotate(-20deg)!important;
        top: -90vh;
        left: -10vh;
        opacity: .15;
        filter: saturate(10) blur(120px);
    }
}